<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <th:block th:insert="~{partials/partials.html :: head-styles}"></th:block>

  </head>
  <body>
    <nav th:replace="~{partials/partials.html :: navbar}"></nav>
  
    <h1>Log In</h1>
      <div th:if="${param.error}">
        Invalid Username and Password.
      </div>
      <div th:if="${param.logout}">
        You have been logged out.
      </div>
      
      <form th:action="@{/login}" th:method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <input type="submit" value="Log In" />
      </form>
    <th:block th:insert="~{partials/partials.html :: scripts}"></th:block>

  </body>
</html>
